artifactory:
  persistence:
    enabled: false   # KIND-safe (no PVC)
  replicaCount: 1
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1
      memory: 2Gi

postgresql:
  enabled: false

nginx:
  enabled: false

